{% extends "base.html" %}
{% block content %}
    <h1 class="text-3xl py-2 px-3 uppercase">Search Results</h1>
    <h3 class="text-lg py-2 px-3">Found {{resultsNumber}} results for: {{searchingBy}} </h3>
    <a class="border-2 bg-blue-200 rounded-full py-2 px-3 mx-2 uppercase text-xs font-bold cursor-pointer tracking-wider border-blue-200" href="/export?word={{searchingBy}}">Export to CSV</a>
    <a class="rounded-full py-2 px-3 mx-2 uppercase text-xs font-bold cursor-pointer tracking-wider border-2 border-blue-400" href="/">Back to Search</a>
    <section class="grid grid-cols-4 my-8 py-2 px-3">
        <h4 class="font-bold px-1 py-2">Title</h4>
        <h4 class="font-bold px-1 py-2">Company</h4>
        <h4 class="font-bold px-1 py-2">Location</h4>
        <h4 class="font-bold px-1 py-2">Link</h4>
        {% for job in jobs %}
            <span class="text-sm px-1 py-2 truncate">{{job.title}}</span>
            <span class="text-sm px-1 py-2 truncate">{{job.company}}</span>
            <span class="text-sm px-1 py-2 truncate">{{job.location}}</span>
            <a class="px-1 py-2" href="{{job.link}}" target="_blank">
                <span class="bg-red-200 rounded-full py-2 px-3 font-bold uppercase text-xs cursor-pointer" >Apply</span>
            </a>
        {% endfor %}
    </section>
{% endblock content %}